@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ExtensionManager.Backend.ViewModels.ExtensionManager.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Extension Manager"];
  this.ViewBag.ActiveMenuItem = "extensionmanager";
}
@section title {
  @ViewBag.Title <span class="master-detail__detail-header-counter">@Model.Grid.Pager.Total</span>
}
@Html.Partial("_Grid", this.Model.Grid)
<div class="drag-and-drop-area" id="dragAndDropArea">
  <div class="drag-and-drop-area__description">
    @Localizer["Drag and drop extensions into this area…"]
  </div>
  <form class="form" id="form" name="form" action="/backend/extensionmanager/create" enctype="multipart/form-data" method="post">
    <div class="drag-and-drop-area__buttons form__buttons buttons">
      <div class="drag-and-drop-area__browse-button buttons__button button button--positive">
        <div>@Localizer["…or select them on your device"]</div>
        <input class="drag-and-drop-area__browse-input" id="files" name="files" type="file" size="1" multiple onchange="platformus.dragAndDropArea.selected();" />
      </div>
    </div>
  </form>
</div>