@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Cultures.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Cultures"];
  this.ViewBag.ActiveMenuItem = "cultures";
}
@section title {
  @ViewBag.Title
}
<filter>
  <text-filter property-path="Id" label="@Localizer["Two letter country code (ISO 3166)"].Value" />
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Two letter country code (ISO 3166)"].Value" sorting-property-path="Id" />
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column />
  </columns>
  <rows>
    @foreach (var culture in this.Model.Cultures)
    {
      <partial name="_Culture" for="@culture" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/cultures/create">@Localizer["Create culture"]</positive-button>
</div>