@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Products.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject Platformus.Core.Services.Abstractions.ICultureManager CultureManager
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Product"].Value : this.Localizer["Edit Product"].Value);
  this.ViewBag.ActiveMenuItem = "products";
}
@section title {
  @ViewBag.Title
}
<form class="master-detail__form form" method="post">
  <tabs>
    <tab code="General">@Localizer["General"]</tab>
    <tab code="Photos">@Localizer["Photos"]</tab>
    <tab code="Seo">@Localizer["SEO"]</tab>
  </tabs>
  <tab-pages>
    <tab-page code="General">
      <drop-down-list-field for="CategoryId" options="@Model.CategoryOptions" />
      <single-line-text-field for="Url" />
      <single-line-text-field for="Code" />
      <multilingual-single-line-text-field for="Name" localizations="this.Model.NameLocalizations" />
      <multilingual-multiline-text-field for="Description" localizations="this.Model.DescriptionLocalizations" />
      <multilingual-single-line-text-field for="Units" localizations="this.Model.UnitsLocalizations" />
      <numeric-field for="Price" />
    </tab-page>
    <tab-page code="Photos">
      <image-uploader-field for="Photo1Filename" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo2Filename" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo3Filename" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo4Filename" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo5Filename" destination-base-url="/images/products/" width="1080" height="1080" />
    </tab-page>
    <tab-page code="Seo">
      <multilingual-single-line-text-field for="Title" localizations="this.Model.TitleLocalizations" />
      <multilingual-single-line-text-field for="MetaDescription" localizations="this.Model.MetaDescriptionLocalizations" />
      <multilingual-single-line-text-field for="MetaKeywords" localizations="this.Model.MetaKeywordsLocalizations" />
    </tab-page>
  </tab-pages>
  <div class="form__buttons buttons">
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="@this.Context.Request.CombineUrl("/backend/products")">@Localizer["Cancel"]</neutral-button>
  </div>
</form>

@section startUpScript {
  @foreach (var culture in await this.CultureManager.GetNotNeutralCulturesAsync())
  {
    @:platformus.ui.initializeTinyMce("description@(culture.Id)");
  }
}