@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Products.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject Platformus.Core.Services.Abstractions.ICultureManager CultureManager
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Product"] : this.Localizer["Edit Product"]);
  this.ViewBag.ActiveMenuItem = "products";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/products">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <tabs>
    <tab code="General">@Localizer["General"]</tab>
    <tab code="Photos">@Localizer["Photos"]</tab>
    <tab code="Seo">@Localizer["SEO"]</tab>
  </tabs>
  <tab-pages>
    <tab-page code="General">
      <drop-down-list-field for="CategoryId" options="@Model.CategoryOptions" />
      <single-line-text-field for="Url" />
      <single-line-text-field for="Code" />
      <multilingual-single-line-text-field for="Name" localizations="this.Model.NameLocalizations" />
      <multilingual-html-field for="Description" localizations="this.Model.DescriptionLocalizations" />
      <multilingual-single-line-text-field for="Units" localizations="this.Model.UnitsLocalizations" />
      <decimal-field for="Price" />
    </tab-page>
    <tab-page code="Photos">
      <image-uploader-field for="Photo1Url" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo2Url" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo3Url" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo4Url" destination-base-url="/images/products/" width="1080" height="1080" />
      <image-uploader-field for="Photo5Url" destination-base-url="/images/products/" width="1080" height="1080" />
    </tab-page>
    <tab-page code="Seo">
      <multilingual-single-line-text-field for="Title" localizations="this.Model.TitleLocalizations" />
      <multilingual-single-line-text-field for="MetaDescription" localizations="this.Model.MetaDescriptionLocalizations" />
      <multilingual-single-line-text-field for="MetaKeywords" localizations="this.Model.MetaKeywordsLocalizations" />
    </tab-page>
  </tab-pages>
</form>