@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Products.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Products"];
  this.ViewBag.ActiveMenuItem = "products";
}
@section title {
  @ViewBag.Title
}
<filter>
  <drop-down-list-filter property-path="Category.Id.Equals" options="@Model.CategoryOptions" />
  <text-filter property-path="Name.Value.Contains" label="@Localizer["Name"].Value" />
  <filter-group>
    <filter-label>@Localizer["Price from"]</filter-label>
    <text-filter property-path="Price.From" width="Small" />
    <filter-label>@Localizer["to"]</filter-label>
    <text-filter property-path="Price.To" width="Small" />
  </filter-group>
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Category"].Value" sorting-property-path="@ViewContext.HttpContext.CreateLocalizedSorting("Category.Name")" />
    <column label="@Localizer["Name"].Value" sorting-property-path="@ViewContext.HttpContext.CreateLocalizedSorting("Name")" />
    <column label="@Localizer["Units"].Value" sorting-property-path="@ViewContext.HttpContext.CreateLocalizedSorting("Units")" />
    <column label="@Localizer["Price"].Value" sorting-property-path="Price" />
    <column />
  </columns>
  <rows>
    @foreach (var product in this.Model.Products)
    {
      <partial name="_Product" for="@product" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/products/create">@Localizer["Create product"]</positive-button>
</div>