@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.ECommerce.ProductSelectorFormViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="pop-up-form__header">
  @Localizer["Product Selector"]
</div>
<div class="pop-up-form__content">
  <div class="item-selector-pop-up-form__items">
    <table class="item-selector-pop-up-form__table table">
      <table-row>
        @foreach (var gridColumn in this.Model.GridColumns)
        {
          <table-cell is-header="true">@gridColumn.DisplayName</table-cell>
        }
      </table-row>
      @foreach (var product in this.Model.Products)
      {
        <table-row class="@(product.Id == this.Model.ProductId ? "table__row--selected" : null)" data-item-value="@product.Id">
          <table-cell class="item-selector-pop-up-form__cell">@product.Category.Name</table-cell>
          <table-cell class="item-selector-pop-up-form__cell">@product.Name</table-cell>
        </table-row>
      }
    </table>
  </div>
  <div class="pop-up-form__buttons buttons">
    <positive-button onclick="return platformus.forms.productSelectorForm.select();">@Localizer["Select"]</positive-button>
    <neutral-button onclick="return platformus.forms.productSelectorForm.hideAndRemove();">@Localizer["Cancel"]</neutral-button>
  </div>
</div>