@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Shared.OrderViewModel
<row href="/backend/orders/edit/@Model.Id">
  <cell is-highlighted="true">@Model.Id</cell>
  <cell>@Model.OrderState.Name</cell>
  <cell>@Model.DeliveryMethod.Name</cell>
  <cell>@Model.PaymentMethod.Name</cell>
  <cell>
    <div>@Model.CustomerFirstName @Model.CustomerLastName</div>
    <div>@Model.CustomerPhone</div>
  </cell>
  <cell>@Model.Total.ToString("0.00")</cell>
  <cell>@Model.Created.ToLocalTime().ToString()</cell>
  <row-controls>
    <delete-button href="/backend/orders/delete/@Model.Id" />
  </row-controls>
</row>