@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Barebone.Backend.ViewModels.Shared.GridColumnViewModel
@if (string.IsNullOrEmpty(this.Model.OrderBy))
{
  <th class="table__cell table__cell--header @(this.Model.IsLast ? "table__cell--no-width" : string.Empty)">@Html.Raw(this.Model.Name)</th>
}
else
{
  if (string.Equals(this.Model.OrderBy, this.Model.Owner.OrderBy, StringComparison.OrdinalIgnoreCase))
  {
    <th class="table__cell table__cell--header table__cell--header-ordered-by @(this.Model.Owner.Direction == "asc" ? "table__cell--header-ordered-by-asc" : "table__cell--header-ordered-by-desc") @(this.Model.IsLast ? "table__cell--no-width" : string.Empty)">
      <a class="table__order-by table__order-by--ordered-by" href="@this.Context.Request.CombineUrl(
        new Url.Descriptor(name: "filter", takeFromUrl: true),
        new Url.Descriptor(name: "orderby", value: this.Model.OrderBy),
        new Url.Descriptor(name: "direction", value: this.Model.Owner.Direction == "asc" ? "desc" : "asc"),
        new Url.Descriptor(name: "skip", takeFromUrl: true),
        new Url.Descriptor(name: "take", takeFromUrl: true)
      )">@Html.Raw(this.Model.Name)</a>
    </th>
  }
  else
  {
    <th class="table__cell table__cell--header @(this.Model.IsLast ? "table__cell--no-width" : string.Empty)">
      <a class="table__order-by" href="@this.Context.Request.CombineUrl(
        new Url.Descriptor(name: "filter", takeFromUrl: true),
        new Url.Descriptor(name: "orderby", value: this.Model.OrderBy),
        new Url.Descriptor(name: "direction", value: "asc"),
        new Url.Descriptor(name: "skip", takeFromUrl: true),
        new Url.Descriptor(name: "take", takeFromUrl: true)
      )">@Html.Raw(this.Model.Name)</a>
    </th>
  }
}