@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title | Platformus CMS</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link href="~/wwwroot.areas.backend.css.platformus.barebone.min.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic" type="text/css" rel="stylesheet" />
  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/tinymce/tinymce.min.js"></script>
  <script src="~/wwwroot.areas.backend.js.platformus.barebone.min.js"></script>
</head>
<body>
  <div class="container with-side @(this.ViewBag.HasSideDetails == null ? null : "with-side-details")">
    <div class="side">
      <a class="platformus" href="/backend/">
        Platformus <span>CMS</span></a>
      @Component.Invoke("BackendMenu")
      <div class="user-menu">
        <a class="menu-item" href="/backend/account/signout">
          Sign out
        </a>
      </div>
    </div>
    @RenderSection("sideDetails", false)
    <div class="content">
      @RenderBody()
    </div>
  </div>
</body>
</html>