@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title | Platformus CMS</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  @await Component.InvokeAsync("BackendStyleSheets")
  @await Component.InvokeAsync("BackendScripts")
</head>
<body>
  <div class="master-detail">
    <div class="master-detail__master master-detail__master--primary">
      <a class="master-detail__master-header master-detail__master-header--primary" href="/backend/">Platformus CMS</a>
      @if (this.User.Identity.IsAuthenticated)
      {
        <div class="master-detail__master-content">
          @await Component.InvokeAsync("BackendMenu")
          <div class="master-detail__master-user-menu menu">
            <div class="menu__group">
              <div class="menu__group-header">
                @User.Identity.Name
              </div>
              <div class="menu__group-content">
                <a class="master-detail__master-menu-item--primary master-detail__master-menu-item--user menu__item" href="/backend/account/signout">Sign out</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
    @RenderSection("side", false)
    <div class="master-detail__detail">
      <h1 class="master-detail__detail-header">
        @RenderSection("title", false)
      </h1>
      <div class="master-detail__detail-content">
        @RenderBody()
      </div>
    </div>
  </div>
</body>
</html>