@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName" data-culture="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title | @Localizer["Platformus"]</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  @await Component.InvokeAsync("BackendStyleSheets")
  @await Component.InvokeAsync("BackendScripts")
</head>
<body>
  <div class="master-detail">
    <div class="master-detail__master master-detail__master--primary">
      <a class="master-detail__master-header master-detail__master-header--primary master-detail__master-header--platformus" href="/backend/">@Localizer["Platformus"]</a>
      @if (this.User.Identity.IsAuthenticated)
      {
        <div class="master-detail__master-content">
          @await Component.InvokeAsync("BackendMenu")
          <div class="master-detail__master-user-menu menu" data-code="user">
            <div class="menu__group" data-code="user">
              <div class="menu__group-header menu__group-header--collapsed">
                @User.Identity.Name
              </div>
              <div class="menu__group-content">
                <a class="master-detail__master-menu-item--primary master-detail__master-menu-item--user menu__item" href="/backend/account/signout">@Localizer["Sign out"]</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
    @RenderSection("side", false)
    <div class="master-detail__detail">
      <h1 class="master-detail__detail-header">
        @RenderSection("title", false)
      </h1>
      <div class="master-detail__detail-content">
        @RenderBody()
      </div>
    </div>
  </div>
  <script>
    (function (platformus) {
      platformus.initializers = platformus.initializers || [];
      platformus.initializers.push(
        {
          action: function () {
            @RenderSection("startUpScript", false)
          },
          priority: 1000
        }
      );
    })(window.platformus = window.platformus || {});
  </script>
</body>
</html>