@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Barebone.Backend.ViewModels.Shared.PagerViewModel
@{
  int maxPagesCount = 5;
}
<div class="grid__header-pager pager">
  @if (this.Model.Skip > 0)
  {
    <a class="pager__page pager__page--first" href="@this.Context.Request.CombineUrl(
      new Url.Descriptor(name: "filter", takeFromUrl: true),
      new Url.Descriptor(name: "orderby", takeFromUrl: true),
      new Url.Descriptor(name: "direction", takeFromUrl: true),
      new Url.Descriptor(name: "skip", skip: true),
      new Url.Descriptor(name: "take", skip: true)
    )" title="First page"></a>
    <a class="pager__page  pager__page--previous" href="@this.Context.Request.CombineUrl(
      new Url.Descriptor(name: "filter", takeFromUrl: true),
      new Url.Descriptor(name: "orderby", takeFromUrl: true),
      new Url.Descriptor(name: "direction", takeFromUrl: true),
      new Url.Descriptor(name: "skip", value: this.Model.Skip - this.Model.Take),
      new Url.Descriptor(name: "take", value: this.Model.Take)
    )" title="Previous page"></a>
  }
  else
  {
    <div class="pager__page pager__page--first pager__page--disabled"></div>
    <div class="pager__page pager__page--previous pager__page--disabled"></div>
  }
  @if (this.Model.Skip - maxPagesCount * this.Model.Take > 0)
  {
    <div class="pager__page pager__page--skipped pager__page--disabled"></div>
  }
  @for (int i = 0; i * this.Model.Take < this.Model.Total; i++)
  {
    if (this.Model.Skip == i * this.Model.Take)
    {
      <div class="pager__page pager__page--current pager__page--disabled">@(i + 1)<div class="pager__page-arrow"></div></div>
    }
    else if (i * this.Model.Take >= this.Model.Skip - maxPagesCount * this.Model.Take && i * this.Model.Take <= this.Model.Skip + maxPagesCount * this.Model.Take)
    {
      <a class="pager__page" href="@this.Context.Request.CombineUrl(
        new Url.Descriptor(name: "filter", takeFromUrl: true),
        new Url.Descriptor(name: "orderby", takeFromUrl: true),
        new Url.Descriptor(name: "direction", takeFromUrl: true),
        new Url.Descriptor(name: "skip", value: i * this.Model.Take),
        new Url.Descriptor(name: "take", value: this.Model.Take)
      )">@(i + 1)</a>
    }
  }
  @if (this.Model.Total == 0)
  {
    <div class="pager__page pager__page--current pager__page--disabled">1<div class="pager__page-arrow-placeholder"><div class="pager__page-arrow"></div></div></div>
  }
  @if (this.Model.Skip + maxPagesCount * this.Model.Take < this.Model.Total)
  {
    <div class="pager__page pager__page--skipped pager__page--disabled"></div>
  }
  @if (this.Model.Skip + this.Model.Take < this.Model.Total)
  {
    <a class="pager__page pager__page--next" href="@this.Context.Request.CombineUrl(
      new Url.Descriptor(name: "filter", takeFromUrl: true),
      new Url.Descriptor(name: "orderby", takeFromUrl: true),
      new Url.Descriptor(name: "direction", takeFromUrl: true),
      new Url.Descriptor(name: "skip", value: this.Model.Skip + this.Model.Take),
      new Url.Descriptor(name: "take", value: this.Model.Take)
    )" title="Next page"></a>
    <a class="pager__page pager__page--last" href="@this.Context.Request.CombineUrl(
      new Url.Descriptor(name: "filter", takeFromUrl: true),
      new Url.Descriptor(name: "orderby", takeFromUrl: true),
      new Url.Descriptor(name: "direction", takeFromUrl: true),
      new Url.Descriptor(name: "skip", value: this.Model.Total - (this.Model.Total % this.Model.Take == 0 ? this.Model.Take : this.Model.Total % this.Model.Take)),
      new Url.Descriptor(name: "take", value: this.Model.Take)
    )" title="Last page"></a>
  }
  else
  {
    <div class="pager__page pager__page--next pager__page--disabled"></div>
    <div class="pager__page pager__page--last pager__page--disabled"></div>
  }
</div>