@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.OrderStates.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Order States"];
  this.ViewBag.ActiveMenuItem = "orderstates";
}
<title-bar>
  <neutral-button icon="Icons.Create" href="/backend/orderstates/create">@Localizer["Create order state"]</neutral-button>
</title-bar>
<filter>
  <text-filter property-path="Name.Value.Contains" label="@Localizer["Name"].Value" />
</filter>
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="@ViewContext.HttpContext.CreateLocalizedSorting("Name")" />
    <column label="@Localizer["Position"].Value" sorting-property-path="Position" />
  </columns>
  <rows>
    @foreach (var orderState in this.Model.OrderStates)
    {
      <partial name="_OrderState" for="@orderState" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />