@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Forms.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Form"] : this.Localizer["Edit Form"]);
  this.ViewBag.ActiveMenuItem = "forms";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/forms">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <single-line-text-field for="Code" />
  <multilingual-single-line-text-field for="Name" localizations="@Model.NameLocalizations" />
  <multilingual-single-line-text-field for="SubmitButtonTitle" localizations="@Model.SubmitButtonTitleLocalizations" />
  <checkbox-field for="ProduceCompletedForms" />
  <drop-down-list-field for="FormHandlerCSharpClassName" options="@Model.FormHandlerCSharpClassNameOptions" onchange="platformus.ui.formHandlerCSharpClassNameChanged();" />
  <div id="formHandlerParameterEditor"></div>
  <input id="formHandlerParameters" name="formHandlerParameters" type="hidden" value="@Model.FormHandlerParameters" />
</form>
@section startUpScript {
  platformus.ui.formHandlerCSharpClassNameChanged();
}