@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Security.Backend.ViewModels.Credentials.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Credential"].Value : this.Localizer["Edit Credential"].Value);
  this.ViewBag.ActiveMenuItem = "users";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <drop-down-list-field asp-for="CredentialTypeId" asp-options="@Model.CredentialTypeOptions" />
  <single-line-text-field asp-for="Identifier" />
  <secret-field asp-for="Secret" />
  <checkbox-field asp-for="ApplyPbkdf2HashingToSecret" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/credentials")">@Localizer["Cancel"]</a>
  </div>
</form>