@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Classes.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Classes"];
  this.ViewBag.ActiveMenuItem = "classes";
}
<title-bar>
  <neutral-button icon="Icons.Create" href="/backend/classes/create">@Localizer["Create class"]</neutral-button>
</title-bar>
<filter>
  <drop-down-list-filter property-path="Parent.Id" options="@Model.ClassOptions" />
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
</filter>
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Parent class"].Value" sorting-property-path="Parent.Name" />
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column label="@Localizer["Is abstract"].Value" sorting-property-path="IsAbstract" />
  </columns>
  <rows>
    @foreach (var @class in this.Model.Classes)
    {
      <partial name="_Class" for="@(@class)" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />