@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Roles.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Roles"];
  this.ViewBag.ActiveMenuItem = "roles";
}
<title-bar>
  <neutral-button icon="Icons.Create" href="/backend/roles/create">@Localizer["Create role"]</neutral-button>
</title-bar>
<filter>
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
  <drop-down-list-filter property-path="Permission.Id" options="@Model.PermissionOptions" />
</filter>
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column label="@Localizer["Position"].Value" sorting-property-path="Position" />
  </columns>
  <rows>
    @foreach (var role in this.Model.Roles)
    {
      <partial name="_Role" for="@role" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />