@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Roles.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Roles"];
  this.ViewBag.ActiveMenuItem = "roles";
}
@section title {
  @ViewBag.Title
}
<filter>
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column label="@Localizer["Position"].Value" sorting-property-path="Position" />
    <column />
  </columns>
  <rows>
    @foreach (var role in this.Model.Roles)
    {
      <partial name="_Role" for="@role" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/roles/create">@Localizer["Create role"]</positive-button>
</div>