@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.FileManager.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["File Manager"];
  this.ViewBag.ActiveMenuItem = "filemanager";
}
<title-bar />
<filter>
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
</filter>
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column label="@Localizer["Size"].Value" sorting-property-path="Size" />
  </columns>
  <rows>
    @foreach (var file in this.Model.Files)
    {
      <partial name="_File" for="@file" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<div class="content__drag_and_drop_area drag-and-drop-area" id="dragAndDropArea">
  <div class="drag-and-drop-area__description">
    @Localizer["Drag and drop files into this area…"]
  </div>
  <form class="form" id="form" name="form" action="/backend/filemanager/create" enctype="multipart/form-data" method="post">
    <div class="drag-and-drop-area__buttons form__buttons buttons">
      <label class="buttons__button button button--neutral button--icon icon icon--browse" for="files">
        @Localizer["…or select them on your device"]
      </label>
      <input class="drag-and-drop-area__input" id="files" name="files" type="file" size="1" multiple onchange="platformus.dragAndDropArea.selected();" />
    </div>
  </form>
</div>