@* Copyright © 2018 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Carts.DetailsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Cart Details"];
  this.ViewBag.ActiveMenuItem = "carts";
}
@section title {
  @ViewBag.Title
}
<table class="table">
  <tbody>
    <tr class="table__row">
      <td class="table__cell table__cell--header table__cell--no-width">@Localizer["Client-side identifier"]</td>
      <td class="table__cell">@Model.ClientSideId</td>
    </tr>
  </tbody>
</table>
<div class="master-detail__detail-buttons master-detail__detail-buttons--minor buttons">
  <a class="buttons__button buttons__button--minor button button--positive button--minor" href="/backend/carts/edit/@Model.Id">@Localizer["Edit"]</a>
</div>
<h2 class="form__title">
  @Localizer["Positions"]
</h2>
<table class="table">
  <colgroup>
    <col>
    <col>
    <col>
  </colgroup>
  <tbody>
    <tr class="table__row">
      <th class="table__cell table__cell--header">@Localizer["Product"]</th>
      <th class="table__cell table__cell--header">@Localizer["Price"]</th>
      <th class="table__cell table__cell--header table__cell--no-width">&nbsp;</th>
    </tr>
    @foreach (var position in this.Model.Cart.Positions)
    {
      @Html.Partial("_Position", position)
    }
  </tbody>
</table>
<div class="master-detail__detail-buttons master-detail__detail-buttons--minor buttons">
  <button class="buttons__button buttons__button--minor button button--positive button--minor" type="button" onclick="platformus.ui.addProductToCart(@Model.Cart.Id);">@Localizer["Add position"]</button>
</div>