@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Carts.ViewViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["View Cart"].Value;
  this.ViewBag.ActiveMenuItem = "carts";
}
@section title {
  @ViewBag.Title
}
<div class="form">
  <h2 class="form__title">
    @Localizer["Positions"]
  </h2>
  <table class="form__table table">
    <colgroup>
      <col>
      <col>
      <col>
    </colgroup>
    <tbody>
      <table-row>
        <table-cell is-header="true">@Localizer["Category"]</table-cell>
        <table-cell is-header="true">@Localizer["Product"]</table-cell>
        <table-cell is-header="true">@Localizer["Price"]</table-cell>
        <table-cell is-header="true">@Localizer["Quantity"]</table-cell>
        <table-cell is-header="true">@Localizer["Subtotal"]</table-cell>
        <table-cell is-header="true">&nbsp;</table-cell>
      </table-row>
      @if (this.Model.Positions != null)
      {
        @for (int i = 0; i != this.Model.Positions.Count(); i++)
        {
          var position = this.Model.Positions.ElementAt(i);

          position.Index = i;
          @Html.Partial("_Position", position)
        }
      }
      <table-row id="totalRow">
        <table-cell is-header="true" colspan="4">@Localizer["Total"]</table-cell>
        <table-cell is-header="true" id="total">@Model.Total.ToString("0.00")</table-cell>
        <table-cell is-header="true">&nbsp;</table-cell>
      </table-row>
    </tbody>
  </table>
  <div class="form__buttons buttons">
    <neutral-button href="@this.Context.Request.CombineUrl("/backend/carts")">@Localizer["Back"]</neutral-button>
  </div>
</div>