@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Carts.ViewViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["View Cart"].Value;
  this.ViewBag.ActiveMenuItem = "carts";
}
<div class="form">
  <title-bar>
    <neutral-button href="/backend/carts">@Localizer["Back"]</neutral-button>
  </title-bar>
  <table class="form__table">
    <columns>
      <column label="@Localizer["Category"].Value" />
      <column label="@Localizer["Product"].Value" />
      <column label="@Localizer["Price"].Value" />
      <column label="@Localizer["Quantity"].Value" />
      <column label="@Localizer["Subtotal"].Value" />
    </columns>
    <rows>
      @foreach (var position in this.Model.Positions)
      {
        <partial name="_Position" for="@position" />
      }
      <row id="totalRow">
        <cell is-header="true" colspan="4">@Localizer["Total"]</cell>
        <cell is-header="true" id="total">@Model.Total.ToString("0.00")</cell>
      </row>
    </rows>
  </table>
</div>