@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Forms.Backend.ViewModels.Fields.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Field"].Value : this.Localizer["Edit Field"].Value);
  this.ViewBag.ActiveMenuItem = "forms";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <drop-down-list-field asp-for="FieldTypeId" asp-options="@Model.FieldTypeOptions" />
  <single-line-text-field asp-for="Code" />
  <multilingual-single-line-text-field asp-for="Name" asp-localizations="@Model.NameLocalizations" />
  <checkbox-field asp-for="IsRequired" />
  <single-line-text-field asp-for="MaxLength" />
  <numeric-field asp-for="Position" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="/backend/forms">@Localizer["Cancel"]</a>
  </div>
</form>