@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Website.FileSelectorFormViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="pop-up-form__header">
  @Localizer["File Selector"]
</div>
<div class="pop-up-form__content">
  <div class="item-selector-pop-up-form__items">
    <table class="item-selector-pop-up-form__table table">
      <table-row>
        <table-cell is-header="true">@Localizer["Name"]</table-cell>
        <table-cell is-header="true">@Localizer["Size"]</table-cell>
      </table-row>
      @foreach (var file in this.Model.Files)
      {
        <table-row data-item-value="@file.Name">
          <table-cell class="item-selector-pop-up-form__cell">@file.Name</table-cell>
          <table-cell class="item-selector-pop-up-form__cell">@file.Size</table-cell>
        </table-row>
      }
    </table>
  </div>
  <div class="pop-up-form__buttons buttons">
    <positive-button onclick="return platformus.forms.fileSelectorForm.select();">@Localizer["Select"]</positive-button>
    <neutral-button onclick="return platformus.forms.fileSelectorForm.hideAndRemove();">@Localizer["Cancel"]</neutral-button>
  </div>
</div>