@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Website.ObjectSelectorFormViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="pop-up-form__title heading heading--h1">
  @Model.Class.PluralizedName @Localizer["Object Selector"]
</div>
<div class="pop-up-form__content">
  <div class="item-selector-pop-up-form__items">
    <table class="item-selector-pop-up-form__table">
      <columns>
        @foreach (var tableColumn in this.Model.TableColumns)
        {
          <column label="@tableColumn.Label" />
        }
      </columns>
      <rows>
        @foreach (var _object in this.Model.Objects)
        {
          <row class="table__row--interactive@(this.Model.ObjectIds.Contains(_object.Id) ? " table__row--selected" : null)" data-item-value="@_object.Id">
            @foreach (var property in _object.Properties)
            {
              <cell>@property.Value</cell>
            }
          </row>
        }
      </rows>
    </table>
  </div>
  <div class="pop-up-form__buttons buttons">
    <positive-button onclick="return platformus.forms.objectSelectorForm.select();">@Localizer["Select"]</positive-button>
    <neutral-button onclick="return platformus.forms.objectSelectorForm.hideAndRemove();">@Localizer["Cancel"]</neutral-button>
  </div>
</div>