@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Website.ObjectSelectorFormViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="pop-up-form__header">
  @Model.Class.PluralizedName @Localizer["Object Selector"]
</div>
<div class="pop-up-form__content">
  <div class="item-selector-pop-up-form__items">
    <table class="item-selector-pop-up-form__table table">
      <table-row>
        @foreach (var gridColumn in this.Model.GridColumns)
        {
          <table-cell is-header="true">@gridColumn.DisplayName</table-cell>
        }
      </table-row>
      @foreach (var _object in this.Model.Objects)
      {
        <table-row class="@(this.Model.ObjectIds.Contains(_object.Id) ? "table__row--selected" : null)" data-item-value="@_object.Id">
          @foreach (var propertyByMember in _object.PropertiesByMembers)
          {
            <table-cell class="item-selector-pop-up-form__cell">@propertyByMember.Value</table-cell>
          }
        </table-row>
      }
    </table>
  </div>
  <div class="pop-up-form__buttons buttons">
    <positive-button onclick="return platformus.forms.objectSelectorForm.select();">@Localizer["Select"]</positive-button>
    <neutral-button onclick="return platformus.forms.objectSelectorForm.hideAndRemove();">@Localizer["Cancel"]</neutral-button>
  </div>
</div>