@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Tabs.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Tabs"];
  this.ViewBag.ActiveMenuItem = "classes";
}
@section breadcrumbs {
  <breadcrumbs>
    <breadcrumb href="/backend/classes">@Localizer["Classes"]</breadcrumb>
    <breadcrumb href="/backend/classes/edit/@Model.Class.Id">@Model.Class.Name</breadcrumb>
  </breadcrumbs>
}
@section title {
  @ViewBag.Title
}
<filter>
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column label="@Localizer["Position"].Value" sorting-property-path="Position" />
    <column />
  </columns>
  <rows>
    @foreach (var tab in this.Model.Tabs)
    {
      <partial name="_Tab" for="@tab" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/tabs/create">@Localizer["Create tab"]</positive-button>
  <neutral-button href="/backend/classes" skip-url-parameters="class.id">@Localizer["Back"]</neutral-button>
</div>