@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Installer.ViewModels.Installation.IndexViewModel
@{
  this.Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Platformus Installation</title>
  <link href="/wwwroot.css.platformus.installer.min.css" rel="stylesheet" />
  <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
  <script src="/wwwroot.js.platformus.installer.min.js"></script>
</head>
<body>
  <div class="wizard">
    <div class="wizard__pages">
      <div id="introWizardPage" class="wizard__page intro" style="display: block;">
        <img class="intro__logo" src="/wwwroot.images.platformus.png" alt="Platformus Installation" />
        <h1>Platformus Installation</h1>
        <div class="intro__buttons buttons">
          <button class="button button--positive" type="button" onclick="platformus.ui.showWizardPage('usageScenarioWizardPage');">Install now</button>
        </div>
      </div>
      <div id="usageScenarioWizardPage" class="wizard__page">
        <img class="wizard__logo" src="/wwwroot.images.platformus.png" alt="Platformus" />
        <div class="wizard__status">
          Step 1 of 6
        </div>
        <h1>Usage Scenario</h1>
        <div class="form">
          <div class="form__field field">
            <div class="radio-button-list">
              @foreach (var usageScenario in this.Model.Installation.UsageScenarios)
              {
                <div class="radio-button-list__radio-button radio-button">
                  <input id="@usageScenario.Code" name="usageScenario" type="radio" value="@usageScenario.Code" />
                  <label for="@usageScenario.Code">@usageScenario.Name</label>
                </div>
              }
            </div>
          </div>
          <div class="form__buttons buttons">
            <button class="buttons__button button button--neutral" type="button" onclick="platformus.ui.showWizardPage('introWizardPage');">Previous</button>
            <button class="buttons__button button button--positive" type="button" onclick="platformus.ui.showWizardPage('storageTypeWizardPage');">Next</button>
          </div>
        </div>
      </div>
      <div id="storageTypeWizardPage" class="wizard__page">
        <img class="wizard__logo" src="/wwwroot.images.platformus.png" alt="Platformus" />
        <div class="wizard__status">
          Step 2 of 6
        </div>
        <h1>Storage Type</h1>
        <div class="form">
          <div class="form__field field">
            <div class="radio-button-list">
              @foreach (var storageType in this.Model.Installation.StorageTypes)
              {
                <div class="radio-button-list__radio-button radio-button">
                  <input id="@storageType.Code" name="storageType" type="radio" value="@storageType.Code" />
                  <label for="@storageType.Code">@storageType.Name</label>
                </div>
              }
            </div>
          </div>
          <div class="form__buttons buttons">
            <button class="buttons__button button button--neutral" type="button" onclick="platformus.ui.showWizardPage('usageScenarioWizardPage');">Previous</button>
            <button class="buttons__button button button--positive" type="button" onclick="platformus.ui.showWizardPage('storageConnectionWizardPage');">Next</button>
          </div>
        </div>
      </div>
      <div id="storageConnectionWizardPage" class="wizard__page">
        <img class="wizard__logo" src="/wwwroot.images.platformus.png" alt="Platformus" />
        <div class="wizard__status">
          Step 3 of 6
        </div>
        <h1>Storage Connection</h1>
        <div class="form">
          <div class="form__field field">
            <label class="field__label label" for="connectionString">Connection string</label>
            <input class="field__text-box text-box" id="connectionString" name="connectionString" type="text" /> 
          </div>
          <div class="form__description">
            Please, specify corresponding connection string depending on the selected storage type.
          </div>
          <div class="form__buttons buttons">
            <button class="buttons__button button button--neutral" type="button" onclick="platformus.ui.showWizardPage('storageTypeWizardPage');">Previous</button>
            <button class="buttons__button button button--positive" type="button" onclick="platformus.ui.showWizardPage('administratorAccountWizardPage');">Next</button>
          </div>
        </div>
      </div>
      <div id="administratorAccountWizardPage" class="wizard__page">
        <img class="wizard__logo" src="/wwwroot.images.platformus.png" alt="Platformus" />
        <div class="wizard__status">
          Step 4 of 6
        </div>
        <h1>Administrator Account</h1>
        <div class="form">
          <div class="form__field field">
            <label class="field__label label" for="username">Username</label>
            <input class="field__text-box text-box" id="username" name="username" type="text" value="admin@platformus.net" disabled="disabled" />
          </div>
          <div class="form__field field">
            <label class="field__label label" for="password">Password</label>
            <input class="field__text-box text-box" id="password" name="password" type="text" value="admin" disabled="disabled" />
          </div>
          <div class="form__description">
            You will be able to change the administrator account (or to add more ones) later.
          </div>
          <div class="form__buttons buttons">
            <button class="buttons__button button button--neutral" type="button" onclick="platformus.ui.showWizardPage('storageConnectionWizardPage');">Previous</button>
            <button class="buttons__button button button--positive" type="button" onclick="platformus.ui.showWizardPage('languagePacksWizardPage');">Next</button>
          </div>
        </div>
      </div>
      <div id="languagePacksWizardPage" class="wizard__page">
        <img class="wizard__logo" src="/wwwroot.images.platformus.png" alt="Platformus" />
        <div class="wizard__status">
          Step 5 of 6
        </div>
        <h1>Language Packs</h1>
        <div class="form">
          @foreach (var languagePack in this.Model.Installation.LanguagePacks)
          {
            <div class="form__field field">
              <div class="checkbox">
                <input id="languagePack@(languagePack.Code)" name="languagePack@(languagePack.Code)" type="checkbox" checked="checked" disabled="@(languagePack.Code == "en" ? "disabled" : null)" data-language-pack="@languagePack.Code" />
                <label for="languagePack@(languagePack.Code)">@languagePack.Name</label>
              </div>
            </div>
          }
          <div class="form__buttons buttons">
            <button class="buttons__button button button--neutral" type="button" onclick="platformus.ui.showWizardPage('administratorAccountWizardPage');">Previous</button>
            <button class="buttons__button button button--positive" type="button" onclick="platformus.ui.showWizardPage('finishWizardPage');">Next</button>
          </div>
        </div>
      </div>
      <div id="finishWizardPage" class="wizard__page">
        <img class="wizard__logo" src="/wwwroot.images.platformus.png" alt="Platformus" />
        <div class="wizard__status">
          Step 6 of 6
        </div>
        <h1>Finish</h1>
        <div class="form">
          <div class="form__buttons buttons">
            <button class="buttons__button button button--neutral" type="button" onclick="platformus.ui.showWizardPage('languagePacksWizardPage');">Previous</button>
            <button class="buttons__button button button--positive" type="button" onclick="platformus.ui.finish();">Finish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>