@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.DataTypes.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Data Type"].Value : this.Localizer["Edit Data Type"].Value);
  this.ViewBag.ActiveMenuItem = "datatypes";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <drop-down-list-field for="StorageDataType" options="@Model.StorageDataTypeOptions" />
  <single-line-text-field for="JavaScriptEditorClassName" />
  <single-line-text-field for="Name" />
  <numeric-field for="Position" />
  <div class="form__buttons buttons">
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="@this.Context.Request.CombineUrl("/backend/datatypes")">@Localizer["Cancel"]</neutral-button>
  </div>
</form>