@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.DataTypes.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Data Types"];
  this.ViewBag.ActiveMenuItem = "datatypes";
}
@section title {
  @ViewBag.Title
}
<filter>
  <drop-down-list-filter property-path="StorageDataType" options="@Model.StorageDataTypeOptions" />
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Storage data type"].Value" sorting-property-path="StorageDataType" />
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column label="@Localizer["Data type parameters"].Value" />
    <column label="@Localizer["Position"].Value" sorting-property-path="Position" />
    <column />
  </columns>
  <rows>
    @foreach (var dataType in this.Model.DataTypes)
    {
      <partial name="_DataType" for="@dataType" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/datatypes/create">@Localizer["Create data type"]</positive-button>
</div>