@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Orders.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Order"].Value : this.Localizer["Edit Order"].Value);
  this.ViewBag.ActiveMenuItem = "orders";
}
@section title {
  @ViewBag.Title
}
<form class="master-detail__form form" method="post">
  <drop-down-list-field for="OrderStateId" options="@Model.OrderStateOptions" />
  <drop-down-list-field for="DeliveryMethodId" options="@Model.DeliveryMethodOptions" />
  <drop-down-list-field for="PaymentMethodId" options="@Model.PaymentMethodOptions" />
  <single-line-text-field for="CustomerFirstName" />
  <single-line-text-field for="CustomerLastName" />
  <single-line-text-field for="CustomerPhone" />
  <single-line-text-field for="CustomerEmail" />
  <single-line-text-field for="CustomerAddress" />
  <multiline-text-field for="Note" height="Small" />
  <h2 class="form__title">
    @Localizer["Positions"]
  </h2>
  <table class="form__table table">
    <colgroup>
      <col />
      <col />
      <col />
      <col />
      <col />
      <col class="table__cell--context-controls" />
    </colgroup>
    <tbody>
      <table-row>
        <table-cell is-header="true">@Localizer["Category"]</table-cell>
        <table-cell is-header="true">@Localizer["Product"]</table-cell>
        <table-cell is-header="true">@Localizer["Price"]</table-cell>
        <table-cell is-header="true">@Localizer["Quantity"]</table-cell>
        <table-cell is-header="true">@Localizer["Subtotal"]</table-cell>
        <table-cell is-header="true">&nbsp;</table-cell>
      </table-row>
      @if (this.Model.Positions != null)
      {
        @for (int i = 0; i != this.Model.Positions.Count(); i++)
        {
          var position = this.Model.Positions.ElementAt(i);

          position.Index = i;
          <partial name="_Position" for="@position" />
        }
      }
      <table-row id="totalRow">
        <table-cell is-header="true" colspan="4">@Localizer["Total"]</table-cell>
        <table-cell is-header="true" id="total">@Model.Total.ToString("0.00")</table-cell>
        <table-cell is-header="true">&nbsp;</table-cell>
      </table-row>
    </tbody>
  </table>
  <div class="form__buttons form__buttons--minor buttons">
    <positive-button is-minor="true" onclick="platformus.ui.addPosition();">@Localizer["Add position"]</positive-button>
  </div>
  <div class="form__buttons buttons">
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="@this.Context.Request.CombineUrl("/backend/orders")">@Localizer["Cancel"]</neutral-button>
  </div>
</form>