@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Orders.CreateOrEditViewModel
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Order"] : this.Localizer["Edit Order"]);
  this.ViewBag.ActiveMenuItem = "orders";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/orders">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <drop-down-list-field for="OrderStateId" options="@Model.OrderStateOptions" />
  <drop-down-list-field for="DeliveryMethodId" options="@Model.DeliveryMethodOptions" />
  <drop-down-list-field for="PaymentMethodId" options="@Model.PaymentMethodOptions" />
  <single-line-text-field for="CustomerFirstName" />
  <single-line-text-field for="CustomerLastName" />
  <single-line-text-field for="CustomerPhone" />
  <single-line-text-field for="CustomerEmail" />
  <single-line-text-field for="CustomerAddress" />
  <multiline-text-field for="Note" height="Small" />
  <h2 class="content__subtitle heading heading--h2">
    @Localizer["Positions"]
  </h2>
  <partial name="_Positions" for="@Model.Positions" />
  <div class="form__buttons form__buttons--minor buttons buttons--minor">
    <positive-button is-minor="true" onclick="platformus.ui.addPosition();">@Localizer["Add position"]</positive-button>
  </div>
</form>
<script>
  var positions = @Html.Raw(
    JsonConvert.SerializeObject(
      this.Model.Positions,
      new JsonSerializerSettings { 
          ContractResolver = new CamelCasePropertyNamesContractResolver() 
      }
    )
  );
</script>