@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.DataTypeParameters.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Data Type Parameters"];
  this.ViewBag.ActiveMenuItem = "datatypes";
}
@section breadcrumbs {
  <breadcrumbs>
    <breadcrumb href="/backend/datatypes">@Localizer["Data types"]</breadcrumb>
    <breadcrumb href="/backend/datatypes/edit/@Model.DataType.Id">@Model.DataType.Name</breadcrumb>
  </breadcrumbs>
}
@section title {
  @ViewBag.Title
}
<filter>
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column />
  </columns>
  <rows>
    @foreach (var dataTypeParameters in this.Model.DataTypeParameters)
    {
      <partial name="_DataTypeParameter" for="@dataTypeParameters" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/datatypeparameters/create">@Localizer["Create data type parameter"]</positive-button>
  <neutral-button href="/backend/datatypes" skip-url-parameters="datatype.id">@Localizer["Back"]</neutral-button>
</div>