@* Copyright © 2017 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Routing.Backend.ViewModels.DataSources.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Data Source"].Value : this.Localizer["Edit Data Sources"].Value);
  this.ViewBag.ActiveMenuItem = "endpoints";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <single-line-text-field asp-for="Code" />
  <drop-down-list-field asp-for="CSharpClassName" asp-options="@Model.CSharpClassNameOptions" onchange="platformus.ui.dataSourceCSharpClassNameChanged();" />
  <div id="parameterEditors"></div>
  <input id="parameters" name="parameters" type="hidden" value="@Model.Parameters" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/datasources")">@Localizer["Cancel"]</a>
  </div>
</form>
<script>
  var dataSources = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.DataSources));
</script>
@section startUpScript {
  platformus.ui.dataSourceCSharpClassNameChanged();
}