@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Frontend.ViewModels.Shared.FormViewModel
@using Platformus 
<form class="form @Model.AdditionalCssClass" action="/@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName/forms/send" method="post" enctype="multipart/form-data">
  <input id="origin" name="origin" type="hidden" value="@Context.Request.GetUrlWithoutCultureSegment()" />
  <input id="formId" name="formId" type="hidden" value="@Model.Id" />
  @foreach (var field in this.Model.Fields)
  {
    <partial name="_Field" for="@field" />
  }
  <div class="form__buttons buttons">
    <button class="buttons__button button" type="submit">@Model.SubmitButtonTitle</button>
  </div>
</form>