@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Credentials.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Credential"].Value : this.Localizer["Edit Credential"].Value);
  this.ViewBag.ActiveMenuItem = "users";
}
@section title {
  @ViewBag.Title
}
<form class="master-detail__form form" method="post">
  <drop-down-list-field for="CredentialTypeId" options="@Model.CredentialTypeOptions" />
  <single-line-text-field for="Identifier" />
  <secret-field for="Secret" />
  <checkbox-field class="form__field--separated" for="ApplyPbkdf2HashingToSecret" />
  <div class="form__buttons buttons">
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="@this.Context.Request.CombineUrl("/backend/credentials")">@Localizer["Cancel"]</neutral-button>
  </div>
</form>