@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Credentials.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Credentials"];
  this.ViewBag.ActiveMenuItem = "users";
}
@section breadcrumbs {
  <breadcrumbs>
    <breadcrumb href="/backend/users">@Localizer["Users"]</breadcrumb>
    <breadcrumb href="/backend/users/edit/@Model.User.Id">@Model.User.Name</breadcrumb>
  </breadcrumbs>
}
@section title {
  @ViewBag.Title
}
<filter>
  <text-filter property-path="Identifier.Contains" label="@Localizer["Identifier"].Value" />
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Credential Type"].Value" sorting-property-path="CredentialType.Name" />
    <column label="@Localizer["Identifier"].Value" sorting-property-path="Identifier" />
    <column />
  </columns>
  <rows>
    @foreach (var credential in this.Model.Credentials)
    {
      <partial name="_Credential" for="@credential" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/credentials/create">@Localizer["Create credential"]</positive-button>
  <neutral-button href="/backend/users" skip-url-parameters="user.id">@Localizer["Back"]</neutral-button>
</div>