@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Shared.GridColumnViewModel
@using Platformus.Core.Backend.ViewModels.Shared
@if (string.IsNullOrEmpty(this.Model.SortingName))
{
  <table-cell is-header="true">@Html.Raw(this.Model.DisplayName)</table-cell>
}
else
{
  if (string.Equals(this.Model.SortingName, this.Model.Grid.SortingName, StringComparison.OrdinalIgnoreCase))
  {
    <table-cell is-header="true" class="table__cell--header-ordered-by @(this.Model.Grid.SortingDirection == SortingDirection.Ascending ? "table__cell--header-ordered-by-asc" : "table__cell--header-ordered-by-desc")">
      <a class="table__order-by table__order-by--ordered-by" href="@this.Context.Request.CombineUrl(
        new Url.Descriptor(name: "filter", takeFromUrl: true),
        new Url.Descriptor(name: "orderby", value: (this.Model.Grid.SortingDirection == SortingDirection.Ascending ? "-" : "%2B") + this.Model.SortingName),
        new Url.Descriptor(name: "skip", takeFromUrl: true),
        new Url.Descriptor(name: "take", takeFromUrl: true)
      )">@Html.Raw(this.Model.DisplayName)</a>
    </table-cell>
  }
  else
  {
    <table-cell is-header="true">
      <a class="table__order-by" href="@this.Context.Request.CombineUrl(
        new Url.Descriptor(name: "filter", takeFromUrl: true),
        new Url.Descriptor(name: "orderby", value: "%2B" + this.Model.SortingName),
        new Url.Descriptor(name: "skip", takeFromUrl: true),
        new Url.Descriptor(name: "take", takeFromUrl: true)
      )">@Html.Raw(this.Model.DisplayName)</a>
    </table-cell>
  }
}