@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Shared.GridViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="master-detail__grid grid">
  @if (this.Model.Filters != null)
  {
    <div class="grid__row grid__filters">
      @foreach (var filter in this.Model.Filters)
      {
        <partial name="_Filter" for="@filter" />
      }
    </div>
  }
  @if (this.Model.Pager.Total != 0)
  {
    <div class="grid__row grid__range-controls">
      @if (this.Model.Pager.Total > this.Model.Pager.Take)
      {
        <partial name="_Pager" for="Pager" />
      }
      <partial name="_PagerCurrentState" for="Pager" />
      <partial name="_TakeSelector" for="TakeSelector" />
    </div>
  }
  <table class="grid__row grid__table table">
    <colgroup>
      @foreach (var gridColumn in this.Model.GridColumns)
      {
        if (!string.IsNullOrEmpty(gridColumn.SortingName) && gridColumn.SortingName == this.Model.SortingName)
        {
          <col class="table__cell--ordered-by" />
        }
        else
        {
          <col />
        }
      }
    </colgroup>
    <table-row>
      @foreach (var gridColumn in this.Model.GridColumns)
      {
        <partial name="_GridColumn" for="@gridColumn" />
      }
    </table-row>
    @if (this.Model.Pager.Total == 0)
    {
      <table-row>
        <table-cell class="table__cell--no-records" colspan="@Model.GridColumns.Count()">
          @Localizer["No records"]
        </table-cell>
      </table-row>
    }
    @foreach (var item in this.Model.Items)
    {
      <partial name="@Model.TemplateName" for="@item" />
    }
  </table>
  @if (this.Model.Pager.Total > this.Model.Pager.Take)
  {
    <div class="grid__row grid__range-controls">
      <partial name="_Pager" for="Pager" />
      <partial name="_PagerCurrentState" for="Pager" />
      <partial name="_TakeSelector" for="TakeSelector" />
    </div>
  }
</div>