@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title | @Localizer["Platformus"]</title>
  <vc:backend-style-sheets />
  <vc:backend-scripts />
</head>
<body>
  <div class="master-detail">
    <div class="master-detail__master master-detail__master--primary">
      <a class="master-detail__platformus master-detail__heading heading heading--h1" href="/backend/">@Localizer["Platformus"]</a>
      @if (this.User.Identity.IsAuthenticated)
      {
        <vc:backend-menu />
        <div class="master-detail__user-menu menu" data-code="user">
          <div class="menu__group" data-code="user">
            <div class="menu__group-header menu__group-header--collapsed" tabindex="0">
              @User.Identity.Name
            </div>
            <div class="menu__group-content">
              <a class="master-detail__primary-menu-item master-detail__user-menu-item menu__item" href="/backend/account/signout">@Localizer["Sign out"]</a>
            </div>
          </div>
        </div>
      }
    </div>
    @RenderSection("side", false)
    <div class="master-detail__detail">
      @RenderSection("breadcrumbs", false)
      <h1 class="heading heading--h1">
        @RenderSection("title", false)
      </h1>
      @RenderBody()
    </div>
  </div>
  <script>
    (function (platformus) {
      platformus.initializers = platformus.initializers || [];
      platformus.initializers.push(
        {
          action: function () {
            @RenderSection("startUpScript", false)
          },
          priority: 1000
        }
      );
    })(window.platformus = window.platformus || {});
  </script>
</body>
</html>