@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <title>@ViewBag.Title | @Localizer["Platformus"]</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  @(await Component.InvokeAsync<BackendStyleSheetsViewComponent>())
  @(await Component.InvokeAsync<BackendScriptsViewComponent>())
</head>
<body class="prevent-animation">
  <div class="master-detail">
    <div class="master-detail__master">
      <a class="master-detail__heading master-detail__heading--platformus heading heading--h1" href="/backend">
        @Localizer["Platformus"]
      </a>
      @if (this.User.Identity.IsAuthenticated)
      {
        @(await Component.InvokeAsync<BackendMenuViewComponent>())
        <div class="master-detail__user-menu menu" data-code="user">
          <div class="menu__menu-group menu-group" data-code="menuGroupUser">
            <div class="menu-group__title" tabindex="0">@User.Identity.Name</div>
            <div class="menu-group__menu-items">
              <a class="menu-group__menu-item menu-item icon icon--sign-out" href="/backend/account/signout" title="@Localizer["Sign out"]">
                @Localizer["Sign out"]
              </a>
            </div>
          </div>
        </div>
      }
      <div class="master-detail__edge"></div>
    </div>
    @RenderSection("secondaryMaster", false)
    <div class="master-detail__detail content">
      <div class="content__burger-button burger-button">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      @RenderBody()
    </div>
  </div>
  <script>
    (function (platformus) {
      platformus.initializers = platformus.initializers || [];
      platformus.initializers.push(
        {
          action: function () {
            @RenderSection("startUpScript", false)
          },
          priority: 1000
        }
      );
    })(window.platformus = window.platformus || {});
    setTimeout(function () { $(document.body).removeClass("prevent-animation") }, 500);
  </script>
</body>
</html>