@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Shared.UserViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<table-row>
  <table-cell>@Model.Name</table-cell>
  <table-cell><a href="/backend/credentials?user.id=@Model.Id">@Localizer["Credentials"]</a></table-cell>
  <table-cell>@Model.Created.ToString()</table-cell>
  <buttons-table-cell>
    <positive-button is-minor="true" href="@(this.Context.Request.CombineUrl("/backend/users/edit/" + this.Model.Id))">@Localizer["Edit"]</positive-button>
    <delete-button href="/backend/users/delete/@Model.Id"></delete-button>
  </buttons-table-cell>
</table-row>