@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Users.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create User"] : this.Localizer["Edit User"]);
  this.ViewBag.ActiveMenuItem = "users";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/users">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <tabs>
    <tab code="General">@Localizer["General"]</tab>
    <tab code="Roles">@Localizer["Roles"]</tab>
  </tabs>
  <tab-pages>
    <tab-page code="General">
      <single-line-text-field for="Name" />
    </tab-page>
    <tab-page code="Roles">
      @foreach (var userRole in this.Model.UserRoles)
      {
        <checkbox-field id="role@(userRole.Role.Id)" label="@userRole.Role.Name" value="@userRole.IsAssigned" />
      }
    </tab-page>
  </tab-pages>
</form>