@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Core.Backend.ViewModels.Users.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Users"];
  this.ViewBag.ActiveMenuItem = "users";
}
@section title {
  @ViewBag.Title
}
<filter>
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
  <drop-down-list-filter property-path="Role.Id" options="@Model.RoleOptions" />
  <text-filter property-path="Credential.Identifier.Contains" label="@Localizer["Credential identifier"].Value" />
  <filter-group>
    <filter-label>@Localizer["Created from"]</filter-label>
    <date-filter property-path="Created.From" />
    <filter-label>@Localizer["to"]</filter-label>
    <date-filter property-path="Created.To" />
  </filter-group>
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="Name" />
    <column label="@Localizer["Credentials"].Value" />
    <column label="@Localizer["Created"].Value" sorting-property-path="Created" />
    <column />
  </columns>
  <rows>
    @foreach (var user in this.Model.Users)
    {
      <partial name="_User" for="@user" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/users/create">@Localizer["Create user"]</positive-button>
</div>