@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.CompletedForms.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Completed Forms"];
  this.ViewBag.ActiveMenuItem = "forms";
}
<breadcrumbs>
  <breadcrumb href="/backend/forms">@Localizer["Forms"]</breadcrumb>
  <breadcrumb href="/backend/forms/edit/@Model.Form.Id">@Model.Form.Name</breadcrumb>
</breadcrumbs>
<title-bar>
  <neutral-button href="/backend/forms" skip-url-parameters="form.id">@Localizer["Back"]</neutral-button>
</title-bar>
<filter>
  <filter-group>
    <filter-label>@Localizer["Created from"]</filter-label>
    <date-filter property-path="Created.From" />
    <filter-label>@Localizer["to"]</filter-label>
    <date-filter property-path="Created.To" />
  </filter-group>
</filter>
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Created"].Value" sorting-property-path="Created" />
  </columns>
  <rows>
    @foreach (var completedForm in this.Model.CompletedForms)
    {
      <partial name="_CompletedForm" for="@completedForm" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />