@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Forms.Backend.ViewModels.Forms.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Form"].Value : this.Localizer["Edit Form"].Value);
  this.ViewBag.ActiveMenuItem = "forms";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <single-line-text-field asp-for="Code" />
  <multilingual-single-line-text-field asp-for="Name" asp-localizations="@Model.NameLocalizations" />
  <multilingual-single-line-text-field asp-for="SubmitButtonTitle" asp-localizations="@Model.SubmitButtonTitleLocalizations" />
  <checkbox-field asp-for="ProduceCompletedForms" />
  <drop-down-list-field asp-for="CSharpClassName" asp-options="@Model.CSharpClassNameOptions" onchange="platformus.ui.formHandlerCSharpClassNameChanged();" />
  <div id="parameterEditors"></div>
  <input id="parameters" name="parameters" type="hidden" value="@Model.Parameters" />
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="/backend/forms">@Localizer["Cancel"]</a>
  </div>
</form>
<script>
  var formHandlers = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.FormHandlers));
</script>
@section startUpScript {
  platformus.ui.formHandlerCSharpClassNameChanged();
}