@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.ECommerce.Backend.ViewModels.Categories.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject Platformus.Core.Services.Abstractions.ICultureManager CultureManager
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Category"] : this.Localizer["Edit Category"]);
  this.ViewBag.ActiveMenuItem = "categories";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/categories" skip-url-parameters="owner.id.equals">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <tabs>
    <tab code="General">@Localizer["General"]</tab>
    <tab code="Seo">@Localizer["SEO"]</tab>
    <tab code="Products">@Localizer["Products"]</tab>
  </tabs>
  <tab-pages>
    <tab-page code="General">
      <single-line-text-field for="Url" />
      <multilingual-single-line-text-field for="Name" localizations="@Model.NameLocalizations" />
      <multilingual-html-field for="Description" localizations="this.Model.DescriptionLocalizations" />
      <integer-field for="Position" />
    </tab-page>
    <tab-page code="Seo">
      <multilingual-single-line-text-field for="Title" localizations="this.Model.TitleLocalizations" />
      <multilingual-single-line-text-field for="MetaDescription" localizations="this.Model.MetaDescriptionLocalizations" />
      <multilingual-single-line-text-field for="MetaKeywords" localizations="this.Model.MetaKeywordsLocalizations" />
    </tab-page>
    <tab-page code="Products">
      <drop-down-list-field for="ProductProviderCSharpClassName" options="@Model.ProductProviderCSharpClassNameOptions" onchange="platformus.ui.productProviderCSharpClassNameChanged();" />
      <div id="productProviderParameterEditor"></div>
      <input id="productProviderParameters" name="productProviderParameters" type="hidden" value="@Model.ProductProviderParameters" />
    </tab-page>
  </tab-pages>
</form>
@section startUpScript {
  platformus.ui.productProviderCSharpClassNameChanged();
}