@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Shared.ClassViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<row>
  <cell>@(this.Model.Parent == null ? "—" : this.Model.Parent.Name)</cell>
  <cell>@Model.Name</cell>
  <cell>
    @if (this.Model.IsAbstract)
    {
      <span class="marker marker--positive">@Localizer["Yes"]</span>
    }
    else
    {
      <span class="marker marker--neutral">@Localizer["No"]</span>
    }
  </cell>
  <cell>
    <a href="/backend/tabs?class.id=@Model.Id">@Localizer["Tabs"]</a>
  </cell>
  <cell>
    <a href="/backend/members?class.id=@Model.Id">@Localizer["Members"]</a>
  </cell>
  <buttons-cell>
    <positive-button is-minor="true" href="/backend/classes/edit/@Model.Id">@Localizer["Edit"]</positive-button>
    <delete-button href="/backend/classes/delete/@Model.Id"></delete-button>
  </buttons-cell>
</row>