@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Shared.FieldViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<tree-node>
  <tree-node-header>
    <tree-node-title>
      @Model.Name <span class="marker marker--neutral">@Model.FieldType.Name</span>
    </tree-node-title>
    <tree-node-buttons>
      <positive-button is-minor="true" href="/backend/fields/edit/@Model.Id">@Localizer["Edit"]</positive-button>
      <delete-button href="/backend/fields/delete/@Model.Id"></delete-button>
    </tree-node-buttons>
  </tree-node-header>
  @if (this.Model.FieldType.Code == "RadioButtonList" || this.Model.FieldType.Code == "DropDownList")
  {
    <tree-node-content>
      @foreach (var fieldOption in this.Model.FieldOptions)
      {
        <partial name="_FieldOption" for="@fieldOption" />
      }
      <tree-node-buttons>
        <positive-button is-minor="true" href="/backend/fieldoptions/create?field.id=@Model.Id">@Localizer["Create field option"]</positive-button>
      </tree-node-buttons>
    </tree-node-content>
  }
</tree-node>