@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Endpoints.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Endpoint"].Value : this.Localizer["Edit Endpoint"].Value);
  this.ViewBag.ActiveMenuItem = "endpoints";
}
@section title {
  @ViewBag.Title
}
<form class="master-detail__form form" method="post">
  <tabs>
    <tab code="General">@Localizer["General"]</tab>
    <tab code="RequiredPermissions">@Localizer["Required permissions"]</tab>
    <tab code="RequestProcessing">@Localizer["Request processing"]</tab>
    <tab code="ResponseCaching">@Localizer["Response caching"]</tab>
  </tabs>
  <tab-pages>
    <tab-page code="General">
      <single-line-text-field for="Name" />
      <single-line-text-field for="UrlTemplate" />
      <numeric-field for="Position" />
      <checkbox-field class="form__field--separated" for="DisallowAnonymous" />
      <single-line-text-field for="SignInUrl" />
    </tab-page>
    <tab-page code="RequiredPermissions">
      @foreach (var endpointPermission in this.Model.EndpointPermissions)
      {
        <checkbox-field class="@(endpointPermission.Permission.Id == this.Model.EndpointPermissions.First().Permission.Id ? "form__field--separated" : null)" id="permission@(endpointPermission.Permission.Id)" label="@endpointPermission.Permission.Name" is-checked="@endpointPermission.IsAssigned" />
      }
    </tab-page>
    <tab-page code="RequestProcessing">
      <drop-down-list-field for="RequestProcessorCSharpClassName" options="@Model.RequestProcessorCSharpClassNameOptions" />
      <div id="parameterEditors"></div>
      <input id="parameters" name="requestProcessorParameters" type="hidden" value="@Model.RequestProcessorParameters" />
    </tab-page>
    <tab-page code="ResponseCaching">
      <drop-down-list-field for="ResponseCacheCSharpClassName" options="@Model.ResponseCacheCSharpClassNameOptions" />
    </tab-page>
  </tab-pages>
  <div class="form__buttons buttons">
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="@this.Context.Request.CombineUrl("/backend/endpoints")">@Localizer["Cancel"]</neutral-button>
  </div>
</form>
<script>
  var requestProcessors = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.RequestProcessors));
</script>
@section startUpScript {
  platformus.ui.requestProcessorCSharpClassNameChanged();
}