@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Endpoints.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Endpoint"] : this.Localizer["Edit Endpoint"]);
  this.ViewBag.ActiveMenuItem = "endpoints";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/endpoints">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <tabs>
    <tab code="General">@Localizer["General"]</tab>
    <tab code="Access">@Localizer["Access"]</tab>
    <tab code="RequestProcessing">@Localizer["Request processing"]</tab>
    <tab code="ResponseCaching">@Localizer["Response caching"]</tab>
  </tabs>
  <tab-pages>
    <tab-page code="General">
      <single-line-text-field for="Name" />
      <single-line-text-field for="UrlTemplate" />
      <integer-field for="Position" />
    </tab-page>
    <tab-page code="Access">
      <checkbox-field for="DisallowAnonymous" onchange="platformus.ui.disallowAnonymousChanged();" />
      <div id="disallowAnonymousOptions">
        <single-line-text-field for="SignInUrl" />
        <h2 class="content__subtitle heading heading--h2">@Localizer["Required permissions"]</h2>
        @foreach (var endpointPermission in this.Model.EndpointPermissions)
        {
          <checkbox-field id="permission@(endpointPermission.Permission.Id)" label="@endpointPermission.Permission.Name" value="@endpointPermission.IsAssigned" />
        }
      </div>
    </tab-page>
    <tab-page code="RequestProcessing">
      <drop-down-list-field for="RequestProcessorCSharpClassName" options="@Model.RequestProcessorCSharpClassNameOptions" onchange="platformus.ui.requestProcessorCSharpClassNameChanged();" />
      <div id="requestProcessorParameterEditor"></div>
      <input id="requestProcessorParameters" name="requestProcessorParameters" type="hidden" value="@Model.RequestProcessorParameters" />
    </tab-page>
    <tab-page code="ResponseCaching">
      <drop-down-list-field for="ResponseCacheCSharpClassName" options="@Model.ResponseCacheCSharpClassNameOptions" onchange="platformus.ui.responseCacheCSharpClassNameChanged();" />
      <div id="responseCacheParameterEditor"></div>
      <input id="responseCacheParameters" name="responseCacheParameters" type="hidden" value="@Model.ResponseCacheParameters" />
    </tab-page>
  </tab-pages>
</form>
@section startUpScript {
  platformus.ui.disallowAnonymousChanged();
  platformus.ui.requestProcessorCSharpClassNameChanged();
  platformus.ui.responseCacheCSharpClassNameChanged();
}