@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Endpoints.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Endpoint"].Value : this.Localizer["Edit Endpoint"].Value);
  this.ViewBag.ActiveMenuItem = "endpoints";
}
@section title {
  @ViewBag.Title
}
<form class="form" method="post">
  <div class="tabs">
    <div class="tabs__tab" data-tab-page-id="General">@Localizer["General"]</div>
    <div class="tabs__tab" data-tab-page-id="RequiredPermissions">@Localizer["Required permissions"]</div>
    <div class="tabs__tab" data-tab-page-id="RequestProcessing">@Localizer["Request processing"]</div>
    <div class="tabs__tab" data-tab-page-id="ResponseCaching">@Localizer["Response caching"]</div>
  </div>
  <div class="tab-pages">
    <div id="tabPageGeneral" class="tab-pages__tab-page">
      <single-line-text-field asp-for="Name" />
      <single-line-text-field asp-for="UrlTemplate" />
      <numeric-field asp-for="Position" />
      <checkbox-field asp-for="DisallowAnonymous" />
      <single-line-text-field asp-for="SignInUrl" />
    </div>
    <div id="tabPageRequiredPermissions" class="tab-pages__tab-page">
      @foreach (var endpointPermission in this.Model.EndpointPermissions)
      {
        <div class="form__field @(endpointPermission.Permission.Id == this.Model.EndpointPermissions.First().Permission.Id ? "form__field--separated" : null) field">
          <unbound-check-box asp-identity="permission@(endpointPermission.Permission.Id)" asp-text="@endpointPermission.Permission.Name" asp-checked="@endpointPermission.IsAssigned" />
        </div>
      }
    </div>
    <div id="tabPageRequestProcessing" class="tab-pages__tab-page">
      <drop-down-list-field asp-for="RequestProcessorCSharpClassName" asp-options="@Model.RequestProcessorCSharpClassNameOptions" />
      <div id="parameterEditors"></div>
      <input id="parameters" name="requestProcessorParameters" type="hidden" value="@Model.RequestProcessorParameters" />
    </div>
    <div id="tabPageResponseCaching" class="tab-pages__tab-page">
      <drop-down-list-field asp-for="ResponseCacheCSharpClassName" asp-options="@Model.ResponseCacheCSharpClassNameOptions" />
    </div>
  </div>
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/endpoints")">@Localizer["Cancel"]</a>
  </div>
</form>
<script>
  var requestProcessors = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.RequestProcessors));
</script>
@section startUpScript {
  platformus.ui.requestProcessorCSharpClassNameChanged();
}