@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Endpoints.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = this.Localizer["Endpoints"];
  this.ViewBag.ActiveMenuItem = "endpoints";
}
@section title {
  @ViewBag.Title
}
<filter>
  <text-filter property-path="Name.Contains" label="@Localizer["Name"].Value" />
  <text-filter property-path="UrlTemplate.Contains" label="@Localizer["URL template"].Value" />
</filter>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="Id" />
    <column label="@Localizer["URL template"].Value" sorting-property-path="UrlTemplate" />
    <column label="@Localizer["Position"].Value" sorting-property-path="Position" />
    <column label="@Localizer["Data sources"].Value" />
    <column />
  </columns>
  <rows>
    @foreach (var endpoint in this.Model.Endpoints)
    {
      <partial name="_Endpoint" for="@endpoint" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" is-secondary="true" />
<div class="master-detail__buttons buttons">
  <positive-button href="/backend/endpoints/create">@Localizer["Create endpoint"]</positive-button>
</div>