@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Domain.Backend.ViewModels.Members.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Member"].Value : this.Localizer["Edit Member"].Value);
  this.ViewBag.ActiveMenuItem = "classes";
}
<h1>@ViewBag.Title</h1>
<form class="form" method="post">
  <div class="tabs">
    <div class="tabs__tab" data-tab-page-id="General">@Localizer["General"]</div>
    <div class="tabs__tab" data-tab-page-id="Property">@Localizer["Property"]</div>
    <div class="tabs__tab" data-tab-page-id="Relation">@Localizer["Relation"]</div>
  </div>
  <div class="tab-pages">
    <div id="tabPageGeneral" class="tab-pages__tab-page">
      <drop-down-list-field asp-for="TabId" asp-options="@Model.TabOptions" />
      <single-line-text-field asp-for="Code" />
      <single-line-text-field asp-for="Name" />
      <numeric-field asp-for="Position" />
    </div>
    <div id="tabPageProperty" class="tab-pages__tab-page">
      <drop-down-list-field asp-for="PropertyDataTypeId" asp-options="@Model.PropertyDataTypeOptions" onchange="platformus.ui.propertyDataTypeIdChanged();" />
      <checkbox-field asp-for="IsPropertyLocalizable" />
      <checkbox-field asp-for="IsPropertyVisibleInList" />
      <div id="parameterEditors"></div>
      <input id="parameters" name="parameters" type="hidden" value="@Model.Parameters" />
    </div>
    <div id="tabPageRelation" class="tab-pages__tab-page">
      <drop-down-list-field asp-for="RelationClassId" asp-options="@Model.RelationClassOptions" onchange="platformus.ui.relationClassIdChanged();" />
      <checkbox-field asp-for="IsRelationSingleParent" onchange="platformus.ui.isRelationSingleParentChanged();" />
      <single-line-text-field asp-for="MinRelatedObjectsNumber" />
      <single-line-text-field asp-for="MaxRelatedObjectsNumber" />
    </div>
  </div>
  <div class="form__buttons buttons">
    <button class="buttons__button button button--positive" type="submit">@Localizer["Save"]</button>
    <a class="buttons__button button button--neutral" href="@this.Context.Request.CombineUrl("/backend/members")">@Localizer["Cancel"]</a>
  </div>
</form>
<script>
  var dataTypes = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.DataTypes));
</script>
@section startUpScript {
  platformus.ui.propertyDataTypeIdChanged();
  platformus.ui.relationClassIdChanged();
  platformus.ui.isRelationSingleParentChanged();
}