@* Copyright © 2020 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model Platformus.Website.Backend.ViewModels.Members.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Member"] : this.Localizer["Edit Member"]);
  this.ViewBag.ActiveMenuItem = "classes";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/members">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <tabs>
    <tab code="General">@Localizer["General"]</tab>
    <tab code="Property">@Localizer["Property"]</tab>
    <tab code="Relation">@Localizer["Relation"]</tab>
  </tabs>
  <tab-pages>
    <tab-page code="General">
      <drop-down-list-field for="TabId" options="@Model.TabOptions" />
      <single-line-text-field for="Code" />
      <single-line-text-field for="Name" />
      <integer-field for="Position" />
    </tab-page>
    <tab-page code="Property">
      <drop-down-list-field for="PropertyDataTypeId" options="@Model.PropertyDataTypeOptions" onchange="platformus.ui.propertyDataTypeIdChanged();" />
      <div id="propertyDataTypeOptions">
        <checkbox-field for="IsPropertyLocalizable" />
        <checkbox-field for="IsPropertyVisibleInList" />
        <div id="propertyDataTypeParameterEditor"></div>
        <input id="propertyDataTypeParameters" name="propertyDataTypeParameters" type="hidden" value="@Model.PropertyDataTypeParameters" />
      </div>
    </tab-page>
    <tab-page code="Relation">
      <drop-down-list-field for="RelationClassId" options="@Model.RelationClassOptions" onchange="platformus.ui.relationClassIdChanged();" />
      <div id="relationClassOptions">
        <checkbox-field for="IsRelationSingleParent" onchange="platformus.ui.isRelationSingleParentChanged();" />
        <div id="isRelationSingleParentOptions">
          <single-line-text-field for="MinRelatedObjectsNumber" />
          <single-line-text-field for="MaxRelatedObjectsNumber" />
        </div>
      </div>
    </tab-page>
  </tab-pages>
</form>
@section startUpScript {
  platformus.ui.propertyDataTypeIdChanged();
  platformus.ui.relationClassIdChanged();
  platformus.ui.isRelationSingleParentChanged();
}